{
  "jsc": {
    "experimental": {
      "plugins": [
        ["@swc-jotai/debug-label", { "atomNames": ["customAtom"] }],
        ["@swc-jotai/react-refresh", { "atomNames": ["customAtom"] }]
      ]
    }
  }
}
