@import 'tailwindcss/base';
@import '@radix-ui/themes/styles.css';

@tailwind components;

.radix-themes {
  /* fonts */
  --default-font-family: var(--font-inter);
  --code-font-family: var(--font-jetbrains-mono);

  /* add pointer cursor to controls */
  --cursor-button: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-slider-thumb: pointer;
  --cursor-slider-thumb-active: pointer;
  --cursor-switch: pointer;
}

/* add transitions */
.rt-BaseButton,
.rt-TabsTrigger,
.rt-Link,
.rt-TextFieldInput,
.rt-CheckboxButton,
.rt-BaseMenuItem {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@tailwind utilities;

:root {
  --nav-rail-height: 3rem;
}

.wt-title-1 {
  @apply text-3xl font-semibold tracking-tight;
}

.wt-title-2 {
  @apply text-2xl font-semibold tracking-[-0.02em];
}

.wt-title-3 {
  @apply text-xl font-semibold tracking-[-0.018em];
}

.wt-title-4 {
  @apply text-lg font-semibold;
}

.lucide {
  stroke-width: 1.5px;
}

.jotai-devtools-trigger-button {
  width: 0.5rem !important;
  height: 0.5rem !important;
  opacity: 0.1;
}

.bg-card-1 {
  background-color: #1b1d1eb3;
}

.bg-card-2 {
  background-color: #1e1d1bb3;
}

.colorize-pink {
  filter: invert(100%) brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}

.colorize-svg {
  filter: invert(100%) brightness(0.5) sepia(1) hue-rotate(0deg) saturate(5);
}
