@import 'tailwindcss/base';
@import '@radix-ui/themes/styles.css';

@tailwind components;

.radix-themes {
  /* fonts */
  --default-font-family: var(--font-sans);
  --code-font-family: var(--font-mono);

  /* add pointer cursor to controls */
  --cursor-button: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-slider-thumb: pointer;
  --cursor-slider-thumb-active: pointer;
  --cursor-switch: pointer;
}

/* add transitions */
.rt-BaseButton,
.rt-TabsTrigger,
.rt-Link,
.rt-TextFieldInput,
.rt-CheckboxButton,
.rt-BaseMenuItem {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@tailwind utilities;

:root {
  --nav-rail-height: 3rem;
  --card-1: #1b1d1eb3;
  --card-1-light: #3f4547b3;

  --card-2: #1e1d1bb3;
}

.lucide {
  stroke-width: 1.5px;
}

.jotai-devtools-trigger-button {
  width: 0.5rem !important;
  height: 0.5rem !important;
  opacity: 0.1;
}

.colorize-pink {
  filter: invert(100%) brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}

.colorize-orange {
  filter: invert(100%) brightness(0.5) sepia(1) hue-rotate(-6deg) saturate(5);
}

.phosphor {
  display: inline-block;
  vertical-align: text-top;
  width: 1.2em;
  height: 1.2em;
}

.cmdk-animate-list {
  transition: height 100ms ease;
}

/* figma - bright orange */
.dark,
.dark-theme {
  --orange-1: #15100b;
  --orange-2: #1e160e;
  --orange-3: #331e08;
  --orange-4: #472100;
  --orange-5: #542a00;
  --orange-6: #653700;
  --orange-7: #7c480a;
  --orange-8: #9f5c07;
  --orange-9: #ff991d;
  --orange-10: #f38e00;
  --orange-11: #ffa12c;
  --orange-12: #ffdfc1;

  --orange-a1: #de000005;
  --orange-a2: #fe6d000e;
  --orange-a3: #fb6a0025;
  --orange-a4: #ff58003a;
  --orange-a5: #ff6a0048;
  --orange-a6: #ff7d005a;
  --orange-a7: #ff8b0273;
  --orange-a8: #fe8e0199;
  --orange-a9: #ff991d;
  --orange-a10: #fe9400f3;
  --orange-a11: #ffa12c;
  --orange-a12: #ffdfc1;

  --orange-contrast: #fff;
  --orange-surface: #2b1b0c80;
  --orange-indicator: #ff991d;
  --orange-track: #ff991d;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --orange-1: oklch(17.8% 0.012 62.98);
      --orange-2: oklch(20.7% 0.02 62.98);
      --orange-3: oklch(25.7% 0.047 62.98);
      --orange-4: oklch(29.3% 0.083 62.98);
      --orange-5: oklch(33.4% 0.09 62.98);
      --orange-6: oklch(38.6% 0.09 62.98);
      --orange-7: oklch(45.3% 0.098 62.98);
      --orange-8: oklch(54% 0.121 62.98);
      --orange-9: oklch(77.3% 0.17 62.98);
      --orange-10: oklch(73.8% 0.17 62.98);
      --orange-11: oklch(79.9% 0.17 62.98);
      --orange-12: oklch(92.5% 0.054 62.98);

      --orange-a1: color(display-p3 0.973 0 0 / 0.013);
      --orange-a2: color(display-p3 0.992 0.455 0 / 0.051);
      --orange-a3: color(display-p3 0.996 0.486 0 / 0.131);
      --orange-a4: color(display-p3 1 0.412 0 / 0.206);
      --orange-a5: color(display-p3 0.996 0.478 0 / 0.257);
      --orange-a6: color(display-p3 1 0.545 0.055 / 0.328);
      --orange-a7: color(display-p3 1 0.6 0.161 / 0.421);
      --orange-a8: color(display-p3 1 0.616 0.188 / 0.559);
      --orange-a9: color(display-p3 1 0.655 0.263 / 0.942);
      --orange-a10: color(display-p3 1 0.639 0.22 / 0.891);
      --orange-a11: color(display-p3 1 0.678 0.298 / 0.946);
      --orange-a12: color(display-p3 1 0.898 0.788 / 0.979);

      --orange-contrast: #fff;
      --orange-surface: color(display-p3 0.157 0.102 0.051 / 0.5);
      --orange-indicator: oklch(77.3% 0.17 62.98);
      --orange-track: oklch(77.3% 0.17 62.98);
    }
  }
}
